<!DOCTYPE html>
<html lang="en">
<body>
    <form>
        <div>
            <input type="text" name="streamname" value="">
        </div>
        <div>Name your stream</div>

        <div>
            <textarea rows="4" cols="50" name = "subscribers">

            </textarea>
        </div>
        <div>Add subscribers</div>

        <br>
        <div>
            <textarea rows="4" cols="50" name = "tags">

            </textarea>
        </div>
        <div>Tag your stream</div>

        <br>

        <div>
            <input type="text" name="imageurl" value="">
        </div>
        <div>URL to cover image</div>
        <br>

        <input type="submit" value="Create your stream">
    </form>
</body>
</html>