<!DOCTYPE html>
<html lang="en">
<body>
{% include 'views/navbar.html' %}
<form>
    <table>
        <tr>
            <td style="padding-right:30px">
                <input type="text" name="streamname" value="">
                <div>Name your stream</div>
                <textarea rows="4" cols="50" name="subscribers"></textarea>
                <br>
                <textarea rows="4" cols="50" name="sub_message" placeholder="Optional message for invite"></textarea>
                <br>
                Add subscribers
                <br>
                <input type="submit" value="Create your stream">
            </td>
            <td>
                <div>
            <textarea rows="4" cols="50" name="tags">

            </textarea>
                </div>
                <div>Tag your stream</div>

                <br>

                <div>
                    <input type="text" name="imageurl" value="">
                </div>
                <div>URL to cover image</div>
                <br>
            </td>
        </tr>
    </table>
</form>
</body>
</html>