<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexus - View Stream</title>
</head>
<body>
{% include 'views/navbar.html' %}
    <br>
    <div style="margin:20px;width:750px;display:inline;">
        <!--Images go here!-->
        {% for image in stream.images[index:3+index] %}
            {{image}}
        {% endfor %}
    </div>
    <div style="display:inline;margin:20px;">
        <button>More pictures</button>
    </div>
    <br><br>
    <form style="border:1px solid #ccc;width:350px;" enctype="multipart/form-data" method="post" action="/images">
        <input type="file" style="margin:12px;width:75px" name="img" name="comments" placeholder="File Name"/>
        <input type="text" placeholder="Comments" style="margin:12px;"/>
        <button type="submit" style="margin:12px;">Upload file</button>
        <p style="display:inline;font-size:20px;padding:12px;">Add an Image</p>
    </form>
    <button type="button" style="margin:12px;">Subscribe</button>
</body>
</html>