<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connex.us Trending Page</title>
</head>
<body>
    {% include '/views/navbar.html' %}
    <table>
        <tr>
            <th> Top 3 Trending Streams </th>
            <th></th>
        </tr>
        <tr>
            <td>
                {% for stream in trending_streams %}
                    <p>{{stream.coverImgUrl}} | <a href="../streams/{{stream.key.urlsafe()}}"> {{stream.name}}</a></p>
                {% endfor %}
            </td>


            <td>
                <form method="post">
                    {% if report_settings == 0 %}
                        <input type="checkbox" name="reporting" value="0" checked> No Reports <br>
                    {% else %}
                        <input type="checkbox" name="reporting" value="0" > No Reports <br>
                    {% endif %}
                    {% if report_settings == 5 %}
                        <input type="checkbox" name="reporting" value="5" checked> Every 5 min <br>
                    {% else %}
                        <input type="checkbox" name="reporting" value="5" > Every 5 min <br>
                    {% endif %}
                    {% if report_settings == 60 %}
                        <input type="checkbox" name="reporting" value="60" checked> Every 1 hour <br>
                    {% else %}
                        <input type="checkbox" name="reporting" value="60" > Every 1 hour <br>
                    {% endif %}
                    {% if report_settings == 1440 %}
                        <input type="checkbox" name="reporting" value="1440" checked> Every day <br>
                    {% else %}
                        <input type="checkbox" name="reporting" value="1440" > Every day <br>
                    {% endif %}
                            Email trending report <br>
                    <input type="submit" value="Update Rate">
                </form>
            </td>

    </table>
</body>
</html>